/* CSS Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

body {
    background-color: #e8f3f5;
}

header a, footer {
    padding: 0px 300px;
}

/* Header */

#header {
    background: rgb(159,239,242); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(159,239,242,1) 0%, rgba(173,226,237,1) 47%, rgba(173,226,237,1) 47%, rgba(232,243,245,1) 100%);
    background: -webkit-linear-gradient(top, rgba(159,239,242,1) 0%,rgba(173,226,237,1) 47%,rgba(173,226,237,1) 47%,rgba(232,243,245,1) 100%);
    background: linear-gradient(to bottom, rgba(159,239,242,1) 0%,rgba(173,226,237,1) 47%,rgba(173,226,237,1) 47%,rgba(232,243,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9feff2', endColorstr='#e8f3f5',GradientType=0 );
    height: 5em;
    left: 0;
    line-height: 5em;
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 10001;
}

#header .inner {
    max-width: 65em;
    width: calc(100% - 6em);
    margin: 0 auto;
    position: relative;
}

#header .logo {
    height: inherit;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 25%;
    padding: 0;
}

#header .logo img {
    position: absolute;
    width: 185px;
}

#header a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    padding: 0 0 0 2em;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .85em;
}

#header a:hover {
    color: rgba(255, 255, 255, 0.75);
}

#header a:last-child {
    padding-right: 0em;
}

/* Menu */

#nav li {
    display: inline-block;
}

#nav {
    margin: 0 0 0 14em;
}

.navToggle {
    position: fixed;
    text-decoration: none;
    height: 4em;
    right: 3em;
    top: .75em;
    width: 4em;
    display: none;
    z-index: 10002;
}

.navToggle *:before {
    color: #fff;
    display: block;
    font-size: 16px;
    height: 2.25em;
    left: 0.5em;
    line-height: 2.25em;
    position: absolute;
    text-align: center;
    top: 0.5em;
    width: 3.5em;
}

/* Dropdown */
.nav-dropdown-content {
    display: none;
}

@media not screen and (max-width:1041px) {
    .nav-dropdown:hover .nav-dropdown-content {
        display: block;
        position: fixed;
        background-color: rgba(141, 190, 226, 0.75);
        padding: 0 1.5em 0 0;
    }
}

@media screen and (max-width:1041px) {
    .nav li a {
        display: none;
    }

    .navToggle {
        float: right;
        display: inline-block;
    }

    .nav.responsive li {
        float: none;
    }

    .nav.responsive li a {
        display: block;
    }

    #nav li {
        display: inline;
    }

    .nav.responsive {
        position: relative;
        background-color: #b9b1b1;
        display: block;
        margin: 4em 0;
    }

    .nav-dropdown-content {
        display: block;
        margin: 0 0 0 2.5em;
        background-color: rgb(121, 121, 121);
    }
}

/* Content */

section .inner {
    max-width: 65em;
    width: calc(100% - 6em);
    margin: 0 auto;
    background-color: #fff;
    border-radius: 3px;
    padding: 1em;
}

@media screen and (max-width: 480px) {
    section .inner {
        max-width: 90%;
        width: 90%;
    }
}

header p {
    position: relative;
    margin: 0 0 1.5em 0;
}

header h2 + p {
    font-size: 1.25em;
    margin-top: -1em;
}

header h3 + p {
    font-size: 1.1em;
    margin-top: -0.8em;
}

header h4 + p,
header h5 + p,
header h6 + p {
    font-size: 0.9em;
    margin-top: -0.6em;
}

header p {
    color: #717171;
}

/* Featured trips content */

#featuredTrips .inner {
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

#featuredTrips .inner article {
    width: 50%;
}

#featuredTrips .inner article:first-child {
    padding-right: 6em;
}

#featuredTrips .inner article:last-child {
    padding-left: 6em;
}

@media screen and (max-width: 980px) {
    #featuredTrips {
        padding: 4em 0 2em 0;
        background: -moz-linear-gradient(top, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
        background: -webkit-linear-gradient(top, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
        background: linear-gradient(to bottom, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f7f7f7',GradientType=0 );
    }

    #featuredTrips .inner {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #featuredTrips .inner article {
        width: 100%;
    }

    #featuredTrips .inner article:first-child {
        padding-right: 0;
        padding-bottom: 2em;
    }

    #featuredTrips .inner article:last-child {
        padding-left: 0;
        padding-top: 2em;
    }
}

@media screen and (max-width: 736px) {
    #featuredTrips {
        padding: 2em 0 0.1em 0;
    }
}

/* Image */

.image {
    border-radius: 0;
    border: 0;
    display: inline-block;
    position: relative;
}

.image img {
    border-radius: 0;
    display: block;
    max-width: 100%;
}

.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}

/* Welcoming content */

#welcoming {
    padding: 6em 0 4em 0;
}

@media screen and (max-width: 980px) {
    #welcoming {
        padding: 4em 0 2em 0;
    }
}

@media screen and (max-width: 736px) {
    #welcoming {
        padding: 2em 0 0.1em 0;
    }
}

/* Content */

h2 {
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    color: #ff0000;
}

/* Slider */

.slider img {
    display: none;
}